<h1>Search Results</h1>

<% if @facade.stations.first %>

  <ul class="stations">
    <% @facade.stations.each do |station| %>
      <li>
        <h3>Station Name: <%= station[:station_name] %></h3>
        <p>Address: <%= station[:street_address] %></p>
        <p>Fuel Types: <%= station[:fuel_type_code] %></p>
        <p>Distance: <%= station[:distance] %></p>
        <p>Access Times: <%= station[:access_days_time] %></p>
      </li>
    <% end %>
  </ul>

<% end %>